flask-cors>=3.0.0
requests>=2.20.0
beautifulsoup4>=4.9.0
mysql-connector-python==8.0.11
flask>=2.0.0
msal>=1.31.1


itertools
random
PyMySQL~=1.1.1
mysql~=0.0.3
PyYAML~=6.0
bs4~=0.0.2
pytz~=2023.4
PyJWT~=2.8.0
crypto~=1.4.1
azure-core~=1.32.0
alibabacloud_dysmsapi20170525==3.1.1
aliyun-python-sdk-core
pymysql

