
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card-header {
    background-color: #e3f2fd;
    color: #2c3e50;
    border-radius: 12px 12px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #f0f7ff;
    color: #2c3e50;
}

tr:hover {
    background-color: #f5f9ff;
}

.btn-action {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}
.btn-edit {
    background-color: #4ca9e7;
    color: white;
    padding: 4px 12px;
    border: none;
    transition: background-color 0.3s;
}
.btn-edit:hover {
    background-color: #2980b9;;
}
.btn-delete {
    background-color: #f56565;
    color: white;
    border: none;
}
.btn-delete:hover {
    background-color: #c9303f;
}

.search-box {
    min-width: 280px;
    flex-grow: 1;
}

#searchInput {
    min-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .card-header .d-flex {
        flex-wrap: nowrap;
    }

    .search-box {
        min-width: auto;
        margin-right: 10px;
    }

    #searchInput::placeholder {
        font-size: 0.9em;
        content: "Search by ID, Name, or Role";
    }
}

.btn-primary {
    background: #335797 !important;
    border: none;
    color: #f7f8fa !important;
    transition: all 0.3s ease !important;
}


.btn-primary:hover {
    background: #253f6c !important;
    box-shadow: 0 2px 8px rgba(143, 179, 253, 0.4);
}