<link rel="stylesheet" href="{{url_for('static',filename='css/sidebar.css')}}"> <!-- Introducing sidebar styles -->
<div class="adminSidebar">
  <a class="nav-item" href="{{ url_for('booking_centre_admin') }}">
    <i class="fas fa-calendar-alt nav-icon"></i>
    Booking Center
  </a>
  <a class="nav-item" href="{{ url_for('my_reservation_admin') }}">
    <i class="fas fa-list-ul nav-icon"></i>
    My Bookings
  </a>
  <a class="nav-item" href="{{ url_for('Approval_Center') }}">
    <i class="fas fa-check-circle nav-icon"></i>
    Approval Management
  </a>
  <a class="nav-item" href="{{ url_for('cancel_reservation') }}">
    <i class="fas fa-calendar-times nav-icon"></i>
    Cancel Reservation
  </a>
  <a class="nav-item" href="{{ url_for('room_management') }}">
    <i class="fas fa-door-open nav-icon"></i>
    Room Management
  </a>
  <a class="nav-item" href="{{ url_for('notice_admin') }}">
    <i class="fas fa-bell nav-icon"></i>
    Notifications
  </a>
  <a class="nav-item" href="{{ url_for('blacklist') }}">
    <i class="fas fa-ban nav-icon"></i>
    Black List
  </a>
  <a class="nav-item" href="{{ url_for('trust_list') }}">
    <i class="fas fa-shield-alt nav-icon"></i>
    Trust List
  </a>
  <a class="nav-item" href="{{ url_for('my_profile_admin') }}">
    <i class="fas fa-user-circle nav-icon"></i>
    My Profile
  </a>


</div>